@charset "UTF-8";

/*
    Typical Device Breakpoints
    Telas menores: ate 600px
    Celular: de 600px ate 768px
    Tablets: de 768px ate 992px
    PC: de 992px ate 1200px
    TV: de 1200px a diante
*/

@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    main{
        height: 100vh;
    }

    section#login{
        height: 350px;
        width: 80vw;
    }

    section#login > div#imagem{
        float: left;
        height: 100%;
        width: 30%;
    }

    section#login > div#formulario{
        float: right;
        width: 70%;
    }

    section#login > div#formulario > h1{
        font-size: 1.8em;
    }

    section#login > div#formulario > p{
        font-size: 1.1em;
        line-height: normal;
    }

    .icon{
        transform: translateX(50%);
    }
}


@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(to top, #49a049, #5f2c82);
    }

    section#login{
        height: 390px;
        width: 900px;
    }

    section#login > div#imagem{
        float: right;
        height: 100%;
        width: 50%;
    }

    section#login > div#formulario{
        float: left;
        height: 50%;
        width: 50%;
    }

    section#login > div#formulario > h1{
        font-size: 2em;
    }

    section#login > div#formulario > p{
        font-size: 1.2em;
    }

    .icon{
        transform: translateX(50%);
    }
}

