@charset "UTF-8";

/*
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

*{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
}

html, body{
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main{
    height: 100vh;
    width: 100vw;
}

section#login{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    height: 530px;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
    width: 250px;
}

section#login > div#imagem{
    background: #5f2c82 url(../imagens/metal.jpg) no-repeat left bottom fixed;
    background-size: cover;
    display: block;
    height: 200px;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

section#login > div#formulario > h1{
    margin-bottom: 10px;
    text-align: center;
}

section#login > div#formulario > p{
    line-height: 1.6em;
    margin-bottom: 15px;
}

section#login > div#formulario > p, label{
    font-size: 0.8em;
}

div.campo{
    background-color: #5f2c82;
    border-radius: 8px;
    height: 40px;
    margin: 5px 0px;
    position: relative;
}

form > div.campo > label{
    display: none;
}

form > div.campo > input[type=email], input[type=password]{
    background-color: #32faf3;
    border-radius: 8px;
    height: 40px;
    left: 19%;
    padding: 3px;
    position: absolute;
    width: calc(100% - 19%);
    
}

form > div.campo > input[type=email]:focus-within, input[type=password]:focus-within{
    background-color: rgb(255, 255, 255);
}

::placeholder{
    color: black;
}

.icon{
    color: white;
    font-size: 2em;
    font-weight: normal;
    padding: 5px;
    
}

.mail{
    color: blue;
}

form > [type=submit]{
    background-color: #49a09d;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 1em;
    height: 40px;
    width: 100%;
}

form > input[type=submit]:hover{
background-color: #285755;
}

form > a.botao{
    background-color: white;
    border: 1px solid #285755;
    border-radius: 5px;
    color: #285755;
    display: block;
    font-size: 1em;
    height: 40px;
    margin-top: 10px;
    padding-top: 7px;
    text-align: center;
    text-decoration: none;
}

form > a.botao:hover{
    background-color: #71f5ee;
    color: #285755;
}

form > a.botao > span{
    color: #285755;
    font-size: 1.1em;
}
